* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html::-webkit-scrollbar {
  display: none;
}

@media (max-width: 700px) {
  .quickBar {
    width: 36vw !important;
    height: 2.4rem !important;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    top: 0.6rem !important;
  }
  .quickBar::-webkit-scrollbar {
    display: none;
  }

  .quickOptions {
    font-size: 18px !important;
    position: absolute !important;
    transform: translateY(-50%);
    top: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .introLink {
    left: 0;
  }
  .skillsLink {
    right: -100%;
  }
  .projectsLink {
    right: -200%;
  }
  .resumeLink {
    right: -300%;
  }
  .quickOptions i {
    font-size: 14px !important;
  }
  #image {
    /* display: none !important; */
    bottom: 0;
    right: -24% !important;
    height: 25rem !important;
  }

  .about {
    /* display: none !important; */
    top: 13% !important;
    left: 5% !important;
    font-size: 1.8rem !important;
  }
  .social {
    margin-top: 1.5rem !important;
  }
  .profiles {
    font-size: 1.8rem !important;
    width: 100vw !important;
    height: 2rem !important;
  }
  .quickOptions::after {
    display: none !important;
  }
  #mouseCursor {
    display: none !important;
  }

  .card > .head {
    font-size: 1rem !important;
  }
  .cardLeft {
    left: -62% !important;
    transform: rotate(90deg);
  }
  .icon img {
    height: 3rem !important;
  }
  .card {
    width: 62vw !important;
    height: 35vh !important;
    min-height: 44vh !important;
  }
  .skillsHead {
    font-size: 1.8rem !important;
  }
  .title {
    font-size: 0.7rem !important;
  }

  #frontend {
    top: 1% !important;
  }
  #backend {
    top: 16% !important;
  }
  #languages {
    top: 32% !important;
  }
  #db {
    top: 48% !important;
  }
  #others {
    top: 64% !important;
  }

  .cardCenter {
    top: 10% !important;
  }
  .cardLeft:hover {
    transform: translateY(0px) rotate(90deg) !important;
  }
  #slideDown {
    left: 15% !important;
  }
  .slideBtn {
    font-size: 1.3rem !important;
    height: 2.5rem !important;
    bottom: 1.5% !important;
    top: unset !important;
    transform: rotate(270deg);
  }
  .projHead {
    font-size: 1.7rem !important;
  }
  .techStack {
    bottom: 1.5% !important;
    right: 1.5% !important;
    border-radius: 5px !important;
    gap: 10px !important;
  }
  .project_laptop {
    width: 19rem !important;
    left: 2% !important;
    top: 9% !important;
  }
  .project_mobile {
    width: 5.5rem !important;
    top: 13.5% !important;
    right: 6% !important;
  }
  .ss2 {
    top: 35% !important;
    right: 51% !important;
    width: 48% !important;
  }
  .ss1 {
    top: 35% !important;
    right: 1% !important;
    width: 48% !important;
  }
  .stacktechs {
    height: 1.7rem !important;
  }
  .descArr {
    display: none;
  }
  .titleArr {
    display: none;
  }
  .projectDesc {
    bottom: 28% !important;
    right: 3% !important;
    width: 95% !important;
    line-height: 24px !important;
    font-size: 1.25rem !important;
  }
  .projectName {
      top: 52% !important;
      left: 0% !important;
      font-size: 1.55rem !important;
      text-align: center;
      width: 100%;
  }
  .projectActions {
    width: 67% !important;
    flex-direction: column;
    gap: 12px;
    bottom: 10% !important;
  }
  .projectActions a {
    border-radius: 8px !important;
    width: 100%;
    box-shadow: 0px 2px 5px 0px black;
}
}
.main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.main::-webkit-scrollbar {
  display: none;
}

.pages {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* background: red; */
  position: relative;
}

.circle {
  height: 15vh;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  opacity: 0.2;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: hsla(0, 0%, 100%, 0.25);
  /* border: 1px solid hsla(0, 0%, 100%, 0.25); */
  /* box-shadow: 2px 8px 8px 0 rgb(31 38 135 / 37%); */
  /* filter: blur(25px); */
  /* z-index: -1; */
}

.circle1 {
  right: 5%;
  top: 5%;
}
.circle2 {
  left: 5%;
  bottom: 5%;
}

.intro {
  /* background: red; */
  cursor: none;
}

.quickBar {
  width: 31vw;
  height: 3rem;
  background: black;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0.8; */
  border-radius: 100px;
  /* backdrop-filter: blur(6px); */
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid hsl(0deg 0% 100% / 10%);
  background: hsl(262deg 73% 13%);
  box-shadow: 2px 2px 29px 1px rgb(0 0 0);
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.75px;
  user-select: none;
  cursor: pointer;
}

.quickOptions {
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  color: whitesmoke;
}

.quickOptions:hover {
  opacity: 1;
  color: #a944a1;
  font-weight: bolder;
}
.quickOptions::after {
  background: #a944a1;
  border-radius: 16px;
  bottom: 0px;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
  width: 0%;
  z-index: -1;
}

.quickOptions:hover::after {
  width: 100%;
}

.quickOptions > i {
  /* margin-right: 1px; */
  font-size: 1rem;
}

#mouseCursor {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid hsla(0, 0%, 100%, 0.836);
  background: hsla(0, 0%, 100%, 0.594);
  box-shadow: 2px 2px 10px 5px hsla(263, 73%, 13%, 0.58);
  position: absolute;
  /* opacity: 0.8; */
  pointer-events: none;
  /* mix-blend-mode: difference; */
  transition: translate cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  /* transition-delay: 0.1s; */
  z-index: 2;
  top: 0;
  left: 0;
}

#image {
  position: absolute;
  bottom: 0;
  right: -8%;
  height: 37rem;
  z-index: 1;
}

.about {
  position: absolute;
  top: 32%;
  left: 27%;
  color: whitesmoke;
  font-size: 3.5rem;
  font-family: "Marcellus SC", serif;
  font-family: "Reem Kufi Ink", sans-serif;
  /* letter-spacing: 1px; */
  word-spacing: 2px;
  user-select: none;
}

.about > p {
  width: max-content;
}

.wave {
  display: inline-block;
  animation: waving 2s ease infinite;
  /* transform: rotateZ(10deg); */
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.coloredText {
  font-weight: bold;
  color: #a944a1;
}

.profiles {
  display: flex;
  align-items: center;
  font-size: 3.3rem;
  /* font-family: 'Istok Web', sans-serif; */
  /* border: 2px solid; */
  height: 4rem;
  overflow: hidden;
  position: relative;
  width: 48vw;
  transform: translate(-60px);
}

.roles {
  transition: all 0.2s;
  transform-origin: left;
  margin-left: 7px;
  position: absolute;
  transition: all 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.role1 {
  transform: rotateZ(0deg) translate(50px);
}
.role2 {
  transform: rotateZ(90deg) translate(50px);
}
.role3 {
  transform: rotateZ(180deg) translate(50px);
}
.role4 {
  transform: rotateZ(270deg) translate(50px);
}

.social {
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.socialLinks {
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  aspect-ratio: 1;
  color: whitesmoke;
  border-radius: 50%;
  border: 1px solid hsl(0deg 0% 100% / 10%);
  background: hsl(262deg 73% 13%);
  box-shadow: 2px 2px 29px 1px rgb(0 0 0);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.socialLinks > .fa-brands {
  font-size: 1.5rem;
}

.links {
  margin-top: 5px;
  display: flex;
  gap: 8px;
}

.socialLinks:hover {
  background: whitesmoke;
  border-color: hsl(262deg 73% 13%);
  color: hsl(262deg 73% 13%);
}
#skills {
  background: linear-gradient(180deg, #0d051b, #06275c);
  position: relative;
}

.skillsHead {
  color: whitesmoke;
  font-family: "Marcellus SC", serif;
  text-align: center;
  font-size: 2.3rem;
  padding-top: 0.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  width: max-content;
  margin: auto;
}
.skillsHead::after {
  background: whitesmoke;
  border-radius: 16px;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
  width: 0%;
}

.skillsHead:hover::after {
  width: 100%;
}

.card {
  position: absolute;
  /* left: -2%; */
  width: 21vw;
  min-height: 50vh;
  border-radius: 8px;
  background: rgb(3 22 53);
  border: 1px solid hsl(0deg 0% 100% / 14%);
  box-shadow: 0px 0px 15px -2px rgb(31 38 135 / 17%);
  border-radius: 8px;
  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.cardLeft {
  left: 0%;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.cardCenter {
  left: 50%;
  top: 10% !important;
  transform: translateX(-50%);
}

.cardLeft:hover {
  transform: translateY(-10px) rotate(-6deg);
  transform-origin: center;
}

.card > .head {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: "Istok Web", sans-serif;
  border-bottom: 1px solid hsl(0deg 0% 100% / 14%);
  cursor: pointer;
  transition: all 0.2s;
}

.card > .head:active {
  scale: 0.98;
}

.iconsGrid {
  margin-top: 10px;
  /* border: 2px solid; */
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.icon {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.304);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
}

.title {
  font-size: 0.9rem;
  position: absolute;
  left: 2px;
  bottom: -2px;
  font-family: "Marcellus SC", serif;
  color: rgb(3 22 53);
  font-weight: bold;
}

.icon:hover {
  background: rgb(255, 255, 255);
  border-color: transparent;
}
.icon img {
  height: 4rem;
}

#frontend {
  top: 10%;
}
#backend {
  top: 17%;
}
#languages {
  top: 24%;
}
#db {
  top: 31%;
}
#others {
  top: 38%;
}

#projects {
  /* background: #090808; */
  /* background: linear-gradient(#06275c, #00bdbd); */
  transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.projHead {
  color: whitesmoke;
  font-family: "Marcellus SC", serif;
  /* font-family: "Raleway", sans-serif; */
  text-align: center;
  font-size: 2.1rem;
  padding-top: 0.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  width: max-content;
  margin: auto;
  position: relative;
  z-index: 2;
}

.projHead::after {
  background: whitesmoke;
  border-radius: 16px;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
  width: 0%;
}

.projHead:hover::after {
  width: 100%;
}
.projectsCenter > div > i {
  font-size: 1.8rem;
}

/* .frameCont {
  position: relative;
} */

.frameImgs {
  position: absolute;
  z-index: 1;
  filter: drop-shadow(4px 4px 6px black);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.project_laptop {
  width: 45rem;
  left: 16%;
  top: 18%;
}

.project_mobile {
  width: 11rem;
  top: 35%;
  right: 35%;
  transition-delay: 0.5s;
}

#fetn {
  width: 100%;
  height: 100%;
}

.titleArr {
  position: absolute;
  height: 10rem;
  top: 14%;
  left: 11%;
  transform: rotateY(180deg);
}

.descArr {
  position: absolute;
  height: 10rem;
  bottom: 29%;
  right: 26.3%;
  transform: rotateY(180deg) rotateZ(200deg);
}

.projectName {
  position: absolute;
  top: 11%;
  left: 11.5%;
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-family: "Reem Kufi Ink", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.projectDesc {
  position: absolute;
  bottom: 19%;
  right: 10%;
  color: whitesmoke;
  font-size: 1.4rem;
  font-family: "Quattrocento Sans", sans-serif;
  font-family: "Reem Kufi Ink", sans-serif;
  width: 25%;
  text-align: center;
  line-height: 25px;
  /* transform: translateY(10px); */
}

.techStack {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: whitesmoke;
  border-radius: 8px;
  padding: 5px 4px;
}
.stacktechs {
  height: 2.7rem;
  /* border: 1px solid; */
  border-radius: 5px;
}

.projectActions {
  position: absolute;
  width: 23%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.projectActions i {
  font-size: 13px;
}
.projectActions a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Reem Kufi Ink", sans-serif;
  font-size: 1.4rem;
  /* border: 1px solid whitesmoke; */
  padding: 7px 1.5rem;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  overflow: hidden;
  /* box-shadow: 0px 3px 9px -2px black; */
  box-shadow: 0px 2px 6px -1px black;
}

/* .btnBg {
  display: inline-block;
  background: whitesmoke;
  position: absolute;
  height: 200%;
  width: 200%;
  bottom: -250%;
  transform: skewY(10deg);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
} */

.projectActions a:hover {
  box-shadow: 0px 0px 18px -5px black;
}

.projectActions a:hover .btnBg {
  bottom: -50%;
}

.btnText {
  position: relative;
  z-index: 1;
}
.ss1 {
  position: absolute;
  top: 9%;
  right: 21%;
  width: 22%;
  border-radius: 7px;
  box-shadow: 3px 3px 6px 0px;
  z-index: 0;
}

.ss2 {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 25%;
  border-radius: 7px;
  box-shadow: 3px 3px 6px 0px;
  z-index: 0;
}

.ss_frame_mobile {
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.ss_frame_laptop {
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-delay: 0.3s;
}
.not_visible_frame {
  transform: translateY(50px);
  opacity: 0;
}

.visible_frame {
  transform: translateY(0px);
  opacity: 1;
}

.slideBtn {
  position: absolute;
  z-index: 1;
  font-size: 2.5rem;
  color: whitesmoke;
  /* border: 3px solid; */
  aspect-ratio: 1;
  height: 4rem;
  border-radius: 91%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  left: 2%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

#slideUp {
  box-shadow: 0px 3px 17px -8px black;
  top: 35.5%;
}
#slideUp:hover {
  box-shadow: 0px 0px 18px -5px black;
}

#slideDown {
  box-shadow: 0px -3px 17px -8px black;
  top: 46.5%;
}
#slideDown:hover {
  box-shadow: 0px 0px 18px -5px black;
}

.hidden {
  opacity: 0;
  transition: all 0.5s linear;
}

.visible {
  opacity: 1;
  transition: all 0.5s linear;
}

.tb {
  background: linear-gradient(rgb(6, 39, 92), #59566d);
  transition: all 0.5s linear !important;
}
.fetn {
  background: linear-gradient(rgb(6, 39, 92), #00bdbd);
  transition: all 0.5s linear !important;
}
.vss {
  background: linear-gradient(rgb(6, 39, 92), rgb(253 40 129));
  transition: all 0.5s linear !important;
}
.wb {
  background: linear-gradient(rgb(6, 39, 92), rgb(54 153 233));
  transition: all 0.5s linear !important;
}

#contact {
  background: #000;
}
